.header {
  display: flex;
  align-items: center;
  width: 100%;

  &__logo {
    cursor: pointer;
  }

  &__spacer {
    flex: 1;
  }

  &__search {
    margin-top: 18px;
  }

  @media (max-width: 600px) {
    height: 64px;

    &__logo {
      display: none;
    }

    &__search {
      width: 100%;
      padding: 16px;
    }
  }
}
