mat-form-field {
  margin-top: 18px
}

@media (max-width: 600px) {
  mat-toolbar {
    height: 64px;
  }

  span {
    display: none;
  }

  mat-form-field {
    width: 100%;
    padding: 16px;
  }
}
