<div class="user-profile__container" *ngIf="user$ | async as user">

  <!-- Seção principal: Avatar e informações -->
  <mat-card class="user-profile__header">
    <div class="user-profile__info">
      <img [src]="user.avatar_url" [alt]="user.login" class="user-profile__avatar" />
      <div class="user-profile__details">
        <h1>{{ user.name || user.login }}</h1>
        <h2>{{ user.login }}</h2>
        <p class="user-profile__bio">{{ user.bio || 'Este usuário ainda não adicionou uma biografia.' }}</p>

        <div class="user-profile__stats">
          <span>👥 {{ user.followers }} seguidores</span>
          <span>📍 {{ user.location || 'Localização não informada' }}</span>
        </div>
      </div>
    </div>

  </mat-card>

</div>
